@using EPiServer.Framework.Web
@using EPiServer.Framework.Web.Mvc.Html
@model EPiServer.Core.PageData
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EPiServer Find demo</title>
    <link href="/Static/Style/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        em {color: red;}
        .starter-template {margin-top:100px; }
        .container-separator { margin-top:10px; margin-bottom: 10px; }
        .search-container-separator { margin-top:30px; }
        .json-code { white-space: pre; font-family: monospace; }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">EPiServer Demo</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="@(Request.Url.AbsolutePath == "/TypedSearch" ? "active" : "")"><a href="/TypedSearch">Typed search</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Statistics <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Statistics/AutoComplete">Auto complete</a></li>
                            <li><a href="/Statistics/DidYouMean">Did you mean</a></li>
                            <li><a href="/Statistics/SpellCheck">Spell check</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Influence search results <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/InfluenceSearchResults/BestBets">Best bets</a></li>
                            <li>
                                <a href="/InfluenceSearchResults/Synonyms">Synonyms</a>
                            </li>
                            <li>
                                <a href="/InfluenceSearchResults/AutoBoosting">Auto boosting</a>
                                <a href="/InfluenceSearchResults/BoostingWithWeights">Boosting with weights</a>
                                <a href="/InfluenceSearchResults/BoostingWithFilters">Boosting with filters</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@(Request.Url.AbsolutePath == "/MoreLike" ? "active" : "")"><a href="/MoreLike">More like</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Highlighting <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Highlighting/UnifiedSearch">Unified search</a></li>
                            <li><a href="/Highlighting/TypedSearch">Typed search</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">

        <div class="starter-template">
            @RenderBody()
        </div>

    </div>
    <!-- /.container -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <script src="/Static/Style/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", false)
    @Html.RequiredClientResources(RenderingTags.Footer)
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        })
    </script>
</body>
</html>
